<!--====== PORTFOLIO PART START ======-->

<section id="portfolio" class="portfolio-area portfolio-four pb-100 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">Nosso Portifólio</h3>
                    <p class="text">confira uma pequena amostra dos nossos trabalhos </p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="portfolio-menu text-center mt-50">
                    <ul>
                        <li data-filter="*" class="active">TODOS</li>
                        <li data-filter=".branding-4">REFORMA</li>
                        <li data-filter=".marketing-4">LAVAGEM</li>
                        <li data-filter=".research-4">EMPRESAS</li>
                        <li data-filter=".planning-4">AUTOMOTIVO</li>

                    </ul>
                </div> <!-- portfolio menu -->
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row no-gutters grid mt-50 margin-box">

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-1.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-2.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-3.jpg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>


                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-4.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-5.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>


                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-6.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>


                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-7.jpg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-8.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-9.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-10.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-11.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-12.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <div class="col-lg-4 col-sm-6 branding-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/reforma/reforma-13.jpeg" alt="">
                            </div>
                        </div> <!-- REFORMA -->
                    </div>

                    <!-- NEXT -->

                    <div class="col-lg-4 col-sm-6 marketing-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/lavagem/lavagem-1.jpeg" alt="">
                            </div>
                        </div> <!-- LAVAGEM -->
                    </div>

                    <div class="col-lg-4 col-sm-6 marketing-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/lavagem/lavagem-2.jpeg" alt="">
                            </div>
                        </div> <!-- LAVAGEM -->
                    </div>

                    <!-- <div class="col-lg-4 col-sm-6 marketing-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img class="padding-img" src="assets/images/lavagem/lavagem-3.jpeg"  alt="">
                                </div>
                            </div> 
                        </div> -->

                    <div class="col-lg-4 col-sm-6 marketing-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/lavagem/lavagem-4.jpeg" alt="">
                            </div>
                        </div> <!-- LAVAGEM -->
                    </div>

                    <div class="col-lg-4 col-sm-6 marketing-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/lavagem/lavagem-5.jpeg" alt="">
                            </div>
                        </div> <!-- LAVAGEM -->
                    </div>

                    <!--NEXT-->

                    <div class="col-lg-4 col-sm-6 planning-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/carro/carro-1.jpeg" alt="">
                            </div>
                        </div> <!-- Automotivo -->
                    </div>

                    <div class="col-lg-4 col-sm-6 planning-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/carro/carro-2.jpeg" alt="">
                            </div>
                        </div> <!-- Automotivo -->
                    </div>



                    <div class="col-lg-4 col-sm-6 planning-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/carro/carro-4.jpeg" alt="">
                            </div>
                        </div> <!-- Automotivo -->
                    </div>

                    <div class="col-lg-4 col-sm-6 planning-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/carro/carro-5.jpeg" alt="">
                            </div>
                        </div> <!-- Automotivo -->
                    </div>

                    <div class="col-lg-4 col-sm-6 planning-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/carro/carro-6.jpeg" alt="">
                            </div>
                        </div> <!-- Automotivo -->
                    </div>



                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/add-2.png" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>
                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/empresa-2.jpeg" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>


                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/empresa-3.jpeg" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>

                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/empresa-4.jpeg" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>

                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/add-1.png" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>





                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/add-3.png" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>


                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/add-4.png" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>


                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/add-5.png" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>
                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/empresa-1.jpeg" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>
                    <div class="col-lg-4 col-sm-6 research-4">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img class="padding-img" src="assets/images/empresa/add-6.jpeg" alt="">
                            </div>
                        </div> <!-- Empresas -->
                    </div>

                </div> <!-- row -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PORTFOLIO PART ENDS ======-->