<!--====== FEATRES TWO PART START ======-->

<section  id="services" class="features-area " >
    <div class="container" style="max-width: fit-content;">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6" style="display: flex;
            justify-content: center;
            align-items: center;">
                <div class="section-title text-center pb-10" style="width: 74vw;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;">
                    <h3 class="title text-top" >A Só Banco e uma empresa especializada no segmento de reforma, criação e modificação de móveis e estofamentos.
                        </h3>
                    <h3 class="title" > Nossos Serviços</h3>
                    
                </div> <!-- row -->
            </div>
        </div> <!-- row -->
        <div  class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40 size" >
                    <div  class="features-title-icon d-flex justify-content-between margin-text">
                        <h4 class="features-title"><a >Reforma em geral</a></h4>
                        <div class="features-icon">
                            <i class="fas fa-tools"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/company.png"/> Hotelaria hospitalar </p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/building.png"/> Hotelaria de hospedagem e lazer</p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/church.png"/> Igreja</p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/classroom.png"/> Escola</p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/business.png"/> Escritório</p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/home-page.png"/> Residencial</p>
                        <a class="features-btn orçamento-margin-2" href="#contact">Faça seu orçamento</a>
                    </div>
                </div> <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40 size"  >
                    <div class="features-title-icon d-flex justify-content-between margin-text">
                        <h4 class="features-title"><a class="title-lavagem" >Lavagem a seco e Impermeabilização</a></h4>
                        <div class="features-icon">
                            <i class="fas fa-user-astronaut"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p style="margin-left: 1px;"> <img style=" margin-left: 8px; height: 34px;
                            margin-right: 10px;" src="https://img.icons8.com/dusk/64/000000/sofa.png"/>Sofás</p>
                        <p> <img  src="https://img.icons8.com/bubbles/50/000000/bed.png"/> Colchões</p>
                        <p> <img style="height: 40px; margin-left: 5px; margin-right: 5px;" src="https://img.icons8.com/plasticine/100/000000/carpet.png"/> Tapetes</p>
                        <p> <img style="    margin-right: 5px;" src="https://img.icons8.com/bubbles/50/000000/rocking-chair.png"/>Cadeiras</p>
                        <p> <img style=" height: 31px; margin-left: 9px; margin-right: 12px;" src="https://img.icons8.com/dusk/64/000000/armchair.png"/> Poltronas</p>
                        <p> <img style="margin-right: 1px;" src="https://img.icons8.com/bubbles/50/000000/car.png"/> Automotivo</p>
                        <a class="features-btn orçamento-margin-3" href="#contact">Faça seu orçamento</a>
                    </div>
                </div> <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40 size"  >
                    <div class="features-title-icon d-flex justify-content-between margin-text">
                        <h4 class="features-title"><a >Capotaria automotiva</a></h4>
                        <div class="features-icon">
                            <i class="fas fa-bus-alt"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <P> <img src="https://img.icons8.com/bubbles/50/000000/drill.png"/> Criação e modificação de interiores</P>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/seat-heater.png"/>Estofamento de Bancos</p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/bed.png"/>Camas (Bus)</p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/tape-measure.png"/>  Forração (Teto, Parede e Piso) </p>
                        <p> <img src="https://img.icons8.com/bubbles/50/000000/broom.png"/> Impermeabilização</p>
                        
                        <a class="features-btn orçamento-margin "  href="#contact">Faça seu orçamento</a>
                    </div>
                </div> <!-- single features -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== FEATRES TWO PART ENDS ======-->
<!--====== PRINICNG START ======-->

<section id="pricing" class="pricing-area ">
    <div  class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Nossos Benefícios </h3>
                    <p class="text">Confira os Benefícios que oferecemos a nossos clientes!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div  class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9 animation">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/icons8-em-trânsito-100.png" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Entrega</h5>
                        <p class="month"><span class="price">Grátis</span></p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i>Para todo o Estado do Rio de Janeiro</li>
                        </ul>
                    </div>
                    <!-- <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">GET STARTED</a>
                    </div>     -->
                </div> <!-- pricing style one -->
            </div>
            
            <div class="col-lg-4 col-md-7 col-sm-9 animation">
                <div class="pricing-style mt-30" >
                    <div class="pricing-icon text-center">
                        <img src="assets/images/icons8-arquivo-100.png" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Orçamento</h5>
                        <p class="month"><span class="price">Grátis</span></p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            
                            <li><i class="lni lni-check-mark-circle"></i> Sem nenhum custo de translado</li>
                        </ul>
                    </div>
                    <!-- <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">GET STARTED</a>
                    </div> -->
                </div> <!-- pricing style one -->
            </div>
            
            <div class="col-lg-4 col-md-7 col-sm-9 animation">
                <div class="pricing-style mt-30"  >
                    <div class="pricing-icon text-center">
                        <img src="assets/images/icons8-homem-com-um-escudo-de-segurança-100.png" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Garantia  <span style="color: white;"> (1 ano)</span></h5>
                        <p class="month"><span class="price">Grátis</span></p>
                       
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i>Proteção contra Fungos e Mofos </li>
                        </ul>
                    </div>
                    <!-- <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">GET STARTED</a>
                    </div> -->
                </div> <!-- pricing style one -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PRINICNG ENDS ======-->
